body{
    font-family: Arial;
    background-color: #e9e4e4;
    margin: 40px;
}

h2{
    color: #000000;
}

form{
    background: white;
    padding: 20px;
    width: 300px;
    border-top: 10px;
}

input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button{
    margin-top: 10px;
    padding: 10px;
    background-color: #2b087c65;
    color: white;
    border-radius: 0vmax;
}

table{
    border-top: 0cap;
    width: 100%;
}

th, td{
    border: 1px solid #ccc;
    padding: 8px;
}

th{
    background-color: #2b087c65;
    color: white;
}