body {
    background-color: #eef2f3;
    font-family: Arial;
}

.contenedor {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
